/*
  ____       _   _
 |  _ \ ___ | |_(_) ___  _ __
 | |_) / _ \| __| |/ _ \| '_ \
 |  __/ (_) | |_| | (_) | | | |
 |_|   \___/ \__|_|\___/|_| |_|
*/

/**
 *
 * #########%% BASE %%#########
 ~
 * RESET...............Resetting all styles to default
 * NORMALIZE...........Normalize.css
 * MAIN................General catch all for generic styles
 * GRIDS...............Potion's Fluid Grid system
 * TYPE................Font declarations
 * HELPERS.............A series of helper classes to use on demand

 * #########%% GLOBAL %%#########
 ~
 * MIXINS..............Mixins to be used by other SASS files globally
 * VARS................Variable definitions to be used by other SASS files globally

 * #########%% MODULES %%#########
 ~
 * ACCORDIONS..........Accordions and vanishing content classes
 * ALERTS..............Alert classes
 * BUTTONS.............Button classes
 * CODE................<code> block classes
 * FORMS...............Form classes
 * HEADINGS............Headings classes
 * ICONS...............Icons classes
 * IMAGES..............Image classes
 * LISTS...............Styling for order and unordered lists
 * MODALS..............Styles for modal pop ups
 * NAV.................Starter nav styles
 * MAGICTABS...........Potion's responsive tab to accordions
 * RULES...............Styling for <hr> tags
 * SUPERHEROS..........Styling for header banners or heros but in a super way!
 * TABLES..............Table classes
 * STYLEGUIDES.........Sytles only relating to the styleguide sample sheet, does not affect Potion
 */

@charset "UTF-8";

/* ## Base ## */
@import "base/reset";
@import "base/normalize";
@import "base/main";
@import "base/grids";
@import "base/type";
@import "base/helpers";

/* ## Modules ## */
// @import "modules/accordions";

html,
body {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  font-family: $font-3;
}

.name img {
  width: 90%;
  padding-top: 0.6em;

  //small range (0px --> 640px)
  @media only screen and (min-width: 0em) and (max-width: 40em) {
    padding-top: 0.3em;
    z-index: 1000;
    width: 85%;
    margin-top: -2px;
  }
}

.banner {
  width: 100%;
  height: 300px;
  background-image: url("../img/mainPhoto.jpg");
  background-size: cover;
  margin-top: 0em;
  border-top: 3px solid orange;
  border-bottom: 3px solid orange;
}

.header {
  h1 {
    color: $white;
    font-family: $font-2;
    font-size: 2.3rem;
    font-weight: 200;

    span {
      font-family: $font-3;
      color: orange;
      font-size: 1rem;
      padding: 0em 0em 0em 0.65em;
    }
  }

  //small range (0px --> 640px)
  @media only screen and (min-width: 0em) and (max-width: 40em) {
    h1 {
      font-size: 1.7rem;
      padding: 0em 0em 0em 1em;

      span {
        font-size: 0.95rem;
      }
    }
  }
}

.pageTitle {
  color: #ffffff;
  font-family: $font-2;
  font-size: 1.6rem;
  margin-bottom: 20px;

  //small range (0px --> 640px)
  @media only screen and (min-width: 0em) and (max-width: 40em) {
    text-align: center;
    margin-bottom: 0px;
  }
}

.sectionHeader {
  padding: 1em 0em 1em 0em;
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;

  h1 {
    font-size: 1.5rem;
    font-family: $font-2;
    font-weight: 200;
  }

  span {
    margin-top: -10px;
  }

  @extend .header;
}

.aboutUsSection {
  padding: 3em 0em 2em 0em;

  //small range (0px --> 640px)
  @media only screen and (min-width: 0em) and (max-width: 40em) {
    padding: 3em 2em 2em 2em;
  }
}

.aboutUsSection_Left {
  img {
    border-radius: 50%;
    border: 4px solid $white;
  }

  //small range (0px --> 640px)
  @media only screen and (min-width: 0em) and (max-width: 40em) {
    text-align: center;
    margin-bottom: 25px;
  }
}

.aboutUsSection_Right {
  h1 {
    color: $white;
    font-family: $font-1;
    font-size: 2.5rem;
    margin-bottom: 20px;

    //small range (0px --> 640px)
    @media only screen and (min-width: 0em) and (max-width: 40em) {
      font-size: 2rem;
    }
  }

  p {
    color: $white;
    line-height: 1.4rem;
  }
}

.artistsSection {
  padding: 2em 0em 3em 0em;

  //small range (0px --> 640px)
  @media only screen and (min-width: 0em) and (max-width: 40em) {
    padding: 3em 2em 2em 2em;
  }
}

.artistsSection_Left {
  //small range (0px --> 640px)
  @media only screen and (min-width: 0em) and (max-width: 40em) {
    text-align: center;
    margin-bottom: 25px;
  }
}

.artistsSection_Right {
  h2 {
    color: $white;
    font-family: $font-1;
    font-size: 2.2rem;
    padding: 0.2em 0em 0.4em 0em;
  }

  p {
    color: $white;
    line-height: 1.4rem;
  }

  aside {
    ul li {
      float: left;
      padding: 1em 1.1em 0em 0em;
      color: #555;

      i {
        padding: 0em 0.4em 0em 0em;
      }

      &:hover {
        color: orange;
        cursor: pointer;
      }
    }
  }
}

.aftercareSection {
  padding: 1.5em 0em 2em 0em;

  //small range (0px --> 640px)
  @media only screen and (min-width: 0em) and (max-width: 40em) {
    padding: 2em 2em 2em 2em;
  }

  ul li {
    color: white;
    padding: 0.8em 0em 0.8em 0em;

    span {
      border: 1px solid $white;
      background-color: orange;
      color: $white;
      text-align: center;
      padding: 0.5rem 0rem 0.5rem 0rem;
      font-size: 1.6rem;
      font-family: $font-2;
      margin-top: 10px;

      //small range (0px --> 640px)
      @media only screen and (min-width: 0em) and (max-width: 40em) {
        border-radius: 50%;
        padding: 0.2em 0em 0.2em 0em;
        margin: 0.8em 0em 0.5em 0em;
        background-color: black;
        color: orange;
        border-top: 1px solid $white;
        border-right: none;
        border-bottom: 1px solid $white;
        border-left: none;
      }
    }

    p {
      float: left;
      padding: 0.3em 2em 0em 2em;
    }
  }

  .aftercareSection_Left {
    //small range (0px --> 640px)
    @media only screen and (min-width: 0em) and (max-width: 40em) {
      display: none;
    }
  }

  .aftercareSection_Right {
    line-height: 1.4rem;
  }
}

.top-bar {
  background-color: black !important;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: black;
  padding-top: 0.5em;

  &:hover {
    background-color: black;
    color: orange;
  }
}

.bodyText {
  p {
    font-size: 1em;
    font-family: $font-3;
  }
}

.contactButtons {
  li {
    font-size: 1em;
    font-family: $font-3;

    a {
      color: #555555;

      &:hover {
        color: orange;

        i {
          color: orange;
        }
      }
    }
  }
}

.contactBody {
  margin-top: 30px;

  h2 {
    color: #ffffff;
    font-family: $font-2;
    font-size: 1.6rem;
    margin-bottom: 14px;
  }

  padding-bottom: 40px;
}

.contactBodyMap {
  text-align: right;

  //small range (0px --> 640px)
  @media only screen and (min-width: 0em) and (max-width: 40em) {
    text-align: center;
    margin-bottom: 25px;
  }
}

.contactBodyText {
  color: #ffffff;
  font-family: $font-3;
  line-height: 1.4rem;
  text-align: left;

  //small range (0px --> 640px)
  @media only screen and (min-width: 0em) and (max-width: 40em) {
    text-align: center;
  }

  .button {
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    background-color: orange;

    &:hover {
      background-color: darken(orange, 8%);
    }
  }
}

.top-bar,
.title-area {
  //small range (0px --> 640px)
  @media only screen and (min-width: 0em) and (max-width: 40em) {
    height: 55px;
    border-bottom: 1px solid orange;
    background-color: #000000;
  }
}

.top-bar-section ul li {
  //small range (0px --> 640px)
  @media only screen and (min-width: 0em) and (max-width: 40em) {
    text-align: center;
    border-bottom: 1px solid #ffffff;
  }

  a {
    text-transform: uppercase;
    font-size: 0.75rem;

    //small range (0px --> 640px)
    @media only screen and (min-width: 0em) and (max-width: 40em) {
      font-size: 1.1rem !important;
    }
  }
}

.top-bar.expanded .title-area {
  background-color: #000000;
}

.backtotop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: orange;

  &:hover {
    background-color: darken(orange, 8%);
  }
}
