/*
    _    ____   ___  _   _ _____
   / \  | __ ) / _ \| | | |_   _|
  / _ \ |  _ \| | | | | | | | |
 / ___ \| |_) | |_| | |_| | | |
/_/   \_\____/ \___/ \___/  |_|

*/

.about-us-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 60px 40px 60px;
  background-color: #676767;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  border-top: 1px solid #555555;
  border-bottom: 2px solid #111111;
  text-align: left;

  @include mq(md) {
    display: block;
    padding: 20px 40px 20px 40px;
    border-top: 3px solid #777777;
  }

  @include mq(sm) {
    display: block;
    padding: 20px 40px 20px 40px;
    border-top: 3px solid #777777;
  }

  .section-title {
    color: $white;

    @include mq(md) {
      font-size: 4.5rem;
      line-height: 110%;
    }

    @include mq(sm) {
      font-size: 4rem;
      line-height: 105%;
    }

    img {
      position: relative;
      top: 5px;
      width: 100%;
      max-width: 38px;
      margin-right: 5px;

      @include mq(md) {
        top: 8px;
        max-width: 100px;
      }

      @include mq(sm) {
        top: 8px;
        max-width: 100px;
      }
    }
  }

  .about-us--left {
    flex: 1 60%;
    padding-right: 100px;

    @include mq(lg) {
    }

    @include mq(md) {
      flex: 1 100%;
      padding-top: 20px;
      padding-right: 0;
      padding-bottom: 30px;
    }

    @include mq(sm) {
      flex: 1 100%;
      padding-top: 20px;
      padding-right: 0;
      padding-bottom: 30px;
    }

    .section-title {
      margin-bottom: 15px;

      @include mq(md) {
        font-size: 5.5rem;
        line-height: 140%;
      }

      @include mq(sm) {
        font-size: 6rem;
        line-height: 145%;
      }

      img {

      }
    }

    .about-us--blurb {
      margin-bottom: 25px;
      font-family: $font-3;
      font-size: 1rem;
      line-height: 145%;

      @include mq(md) {
        flex: 1 100%;
        font-size: 2.4rem;
        line-height: 145%;
      }

      @include mq(sm) {
        font-size: 2.5rem;
        line-height: 145%;
      }
    }

    .about-us--blurb-tagline {
      margin-bottom: 25px;
      font-family: $font-3;
      font-size: 1rem;
      font-style: italic;
      font-weight: 600;
      line-height: 145%;

      @include mq(md) {
        font-size: 2.4rem;
        line-height: 145%;
      }

      @include mq(sm) {
        font-size: 2.5rem;
        line-height: 145%;
      }
    }
  }

  .about-us--right {
    flex: 1 40%;
    padding-right: 30px;

    @include mq(md) {
      flex: 1 100%;
      padding-right: 0;
      padding-bottom: 50px;

      iframe {
        height: 400px;
      }
    }

    @include mq(sm) {
      flex: 1 100%;
      padding-right: 0;
      padding-bottom: 50px;

      iframe {
        height: 400px;
      }
    }

    // .orbit-container {
    //   .orbit-slide-number,
    //   .orbit-timer,
    //   .orbit-bullets-container {
    //     display: none;
    //   }

    //   ul.about-us-photos {
    //     max-width: 300px;
    //     border: 5px solid $white;
    //     box-shadow: 2px 2px 2px $black;

    //     @include mq(md) {
    //       max-width: none;
    //     }

    //     @include mq(sm) {
    //       max-width: none;
    //     }

    //     .about-us-photo {
    //       img.about-us-photo-image {
    //         @include mq(md) {
    //           width: 100%;
    //         }

    //         @include mq(sm) {
    //           width: 100%;
    //         }
    //       }
    //     }
    //   }
    // }

    // .orbit-container .orbit-prev {
    //   background-color: $xxlight-gray;

    //   > span {
    //     border-right-color: $light-gray;

    //     @include mq(md) {
    //       transform: scale(2);
    //     }

    //     @include mq(sm) {
    //       transform: scale(2);
    //     }
    //   }

    //   &:hover {
    //     background-color: $orange-potion;

    //     > span {
    //       border-left-color: $white;
    //     }
    //   }
    // }

    // .orbit-container .orbit-next {
    //   background-color: $xxlight-gray;

    //   > span {
    //     border-left-color: $light-gray;

    //     @include mq(md) {
    //       transform: scale(2);
    //     }

    //     @include mq(sm) {
    //       transform: scale(2);
    //     }
    //   }

    //   &:hover {
    //     background-color: $orange-potion;

    //     > span {
    //       border-left-color: $white;
    //     }
    //   }
    // }
  }
}
