/*
    _    _____ _____ _____ ____   ____    _    ____  _____
   / \  |  ___|_   _| ____|  _ \ / ___|  / \  |  _ \| ____|
  / _ \ | |_    | | |  _| | |_) | |     / _ \ | |_) |  _|
 / ___ \|  _|   | | | |___|  _ <| |___ / ___ \|  _ <| |___
/_/   \_\_|     |_| |_____|_| \_\\____/_/   \_\_| \_\_____|

*/

.tattoo-aftercare-section {
  padding: 50px 250px 40px 250px;
  background-image: none;
  background-color: $color-primary;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 1px solid #555555;

  @include mq(md) {
    padding: 50px 25px 40px 25px;
  }

  @include mq(sm) {
    padding: 50px 25px 40px 25px;
  }

  .section-title {
    flex: 1 100%;
    margin-bottom: 15px;
    color: $white;

    @include mq(md) {
      font-size: 5.5rem;
      line-height: 140%;
    }

    @include mq(sm) {
      font-size: 6rem;
      line-height: 145%;
    }

    img {
      position: relative;
      top: 5px;
      width: 100%;
      max-width: 38px;
      margin-right: 5px;

      @include mq(md) {
        top: 8px;
        max-width: 100px;
      }

      @include mq(sm) {
        top: 8px;
        max-width: 100px;
      }
    }
  }

  ul.tattoo-aftercare-list {
    flex: 1 100%;
    margin-left: 0;
    margin-bottom: 15px;

    li.tattoo-aftercare--list-item {
      position: relative;
      display: flex;
      padding-left: 15px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      font-family: $font-2;
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 140%;
      color: $white;
      border-bottom: 1px solid $dark-gray;

      @include mq(md) {
        font-size: 2.4rem;
      }

      @include mq(sm) {
        font-size: 2.5rem;
      }

      .left-section {
        width: 40px;
      }

      .right-section {
        width: 100%;
        flex-grow: 1;
      }

      svg {
        max-width: 20px;
        fill: $white;
      }
    }
  }
}
