/*
 _   _ _____    _    ____  _____ ____  ____
| | | | ____|  / \  |  _ \| ____|  _ \/ ___|
| |_| |  _|   / _ \ | | | |  _| | |_) \___ \
|  _  | |___ / ___ \| |_| | |___|  _ < ___) |
|_| |_|_____/_/   \_\____/|_____|_| \_\____/

*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $font-1;
}

h3.section-title {
  font-family: $font-1;
  font-size: 40px;
  font-weight: 600;
  color: $white;

  i {
    color: $black;
  }
}
