/*
 ___ _   _ ____ _____  _    ____ ____      _    __  __
|_ _| \ | / ___|_   _|/ \  / ___|  _ \    / \  |  \/  |
 | ||  \| \___ \ | | / _ \| |  _| |_) |  / _ \ | |\/| |
 | || |\  |___) || |/ ___ \ |_| |  _ <  / ___ \| |  | |
|___|_| \_|____/ |_/_/   \_\____|_| \_\/_/   \_\_|  |_|

*/

.instagram-carousel {
  position: relative;
  display: flex;
  padding: 20px 40px;
  background-color: $xdark-gray;
  border-top: 1px solid $orange-potion;
  border-bottom: 1px solid $orange-potion;

  @include mq(md) {
    padding: 0;
  }

  @include mq(sm) {
    padding: 0;
  }

  a.instagram-icon {
    flex: 0 0 12%;
    padding-top: 30px;
    padding-right: 30px;
    text-align: center;
    color: $white;

    @include mq(md) {
      display: none;
    }

    @include mq(sm) {
      display: none;
    }

    &:hover {
      text-decoration: none;

      svg {
        max-width: 70px;

        .st4,
        .st6,
        .st8 {
          fill: $white;
        }
      }

      .instagram-hashtag {
        color: $white;
      }
    }

    svg {
      position: relative;
      top: -2px;
      max-width: 55px;
      transition: all 100ms cubic-bezier(0.37, 1.34, 1, 1.1);

      .st4,
      .st6,
      .st8 {
        fill: $orange-potion;
      }
    }

    .instagram-hashtag {
      margin-top: 3px;
      font-family: $font-2;
      font-size: 12px;
      font-weight: 600;
      color: #dedede;
    }
  }

  .instagram-feed {
    flex: 1 88%;

    @include mq(md) {
      flex: 1 100%;
    }

    @include mq(sm) {
      flex: 1 100%;
    }
  }

  img {
    width: 100%;
  }
}
