/*
 ____   ___  ____ _____ _____ ___  _     ___ ___  ____
|  _ \ / _ \|  _ \_   _|  ___/ _ \| |   |_ _/ _ \/ ___|
| |_) | | | | |_) || | | |_ | | | | |    | | | | \___ \
|  __/| |_| |  _ < | | |  _|| |_| | |___ | | |_| |___) |
|_|    \___/|_| \_\|_| |_|   \___/|_____|___\___/|____/

*/

ul.aftercare-tips-list {
  .tattoo-aftercare-instruction {
  }
}

.envirabox-theme-base_dark .envirabox-thumbs > ul {
  overflow: scroll !important;
  background: #000;
  padding-top: 10px;
}