/*
    _    _____ _____ _____ ____   ____    _    ____  _____
   / \  |  ___|_   _| ____|  _ \ / ___|  / \  |  _ \| ____|
  / _ \ | |_    | | |  _| | |_) | |     / _ \ | |_) |  _|
 / ___ \|  _|   | | | |___|  _ <| |___ / ___ \|  _ <| |___
/_/   \_\_|     |_| |_____|_| \_\\____/_/   \_\_| \_\_____|

*/

.aftercareSection {
  padding: 1.5em 0em 2em 0em;

  //small range (0px --> 640px)
  @media only screen and (min-width: 0em) and (max-width: 40em) {
    padding: 2em 2em 2em 2em;
  }

  ul.aftercare-tips-list li.tattoo-aftercare-instruction {
    color: white;
    padding: 0.8em 0em 0.8em 0em;

    span {
      border: 1px solid $white;
      background-color: $orange-potion;
      color: $white;
      text-align: center;
      padding: 0.5rem 0rem 0.5rem 0rem;
      font-size: 1.6rem;
      font-family: $font-2;
      margin-top: 10px;

      //small range (0px --> 640px)
      @media only screen and (min-width: 0em) and (max-width: 40em) {
        border-radius: 50%;
        padding: 0.2em 0em 0.2em 0em;
        margin: 0.8em 0em 0.5em 0em;
        background-color: black;
        color: $orange-potion;
        border-top: 1px solid $white;
        border-right: none;
        border-bottom: 1px solid $white;
        border-left: none;
      }
    }

    p {
      float: left;
      padding: 0.3em 2em 0em 2em;
    }
  }

  .aftercareSection_Left {
    //small range (0px --> 640px)
    @media only screen and (min-width: 0em) and (max-width: 40em) {
      display: none;
    }
  }

  .aftercareSection_Right {
    line-height: 1.4rem;
  }
}
