/*
    _    _____ _____ _____ ____   ____    _    ____  _____
   / \  |  ___|_   _| ____|  _ \ / ___|  / \  |  _ \| ____|
  / _ \ | |_    | | |  _| | |_) | |     / _ \ | |_) |  _|
 / ___ \|  _|   | | | |___|  _ <| |___ / ___ \|  _ <| |___
/_/   \_\_|     |_| |_____|_| \_\\____/_/   \_\_| \_\_____|

*/

.tattoo-aftercare-section {
  padding: 50px 60px 40px 60px;
  background-image: none;
  background-color: $color-primary;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 1px solid #555555;

  .section-title {
    flex: 1 100%;
    margin-bottom: 15px;
    color: $white;

    @include mq(md) {
      font-size: 5.5rem;
      line-height: 140%;
    }

    @include mq(sm) {
      font-size: 6rem;
      line-height: 145%;
    }

    img {
      position: relative;
      top: 5px;
      max-width: 35px;
      margin-right: 5px;

      @include mq(md) {
        max-width: 55px;
      }

      @include mq(sm) {
        max-width: 55px;
      }
    }
  }

  ul.tattoo-aftercare-list {
    flex: 1 100%;
    margin-left: 0;
    margin-bottom: 15px;

    li.tattoo-aftercare--list-item {
      position: relative;
      padding-left: 15px;
      margin-bottom: 20px;
      font-family: $font-2;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 140%;
      color: $white;

      svg {
        position: relative;
        left: -15px;
        top: 12px;
        max-width: 20px;
        display: inline;

        path {
          fill: $orange-potion;
        }
      }
    }
  }
}
