/*
    _    ____ _____ ___ ____ _____ ____
   / \  |  _ \_   _|_ _/ ___|_   _/ ___|
  / _ \ | |_) || |  | |\___ \ | | \___ \
 / ___ \|  _ < | |  | | ___) || |  ___) |
/_/   \_\_| \_\|_| |___|____/ |_| |____/

*/

.artists-section {
  padding: 30px 60px 40px 60px;
  background-image: url("../img/about-us-background.jpg");
  background-color: $xdark-gray;
  background-size: cover;
  background-repeat: no-repeat;

  .section-title {
    flex: 1 100%;
    margin-bottom: 30px;
    color: $white;

    @include mq(md) {
      font-size: 5.5rem;
      line-height: 140%;
    }

    @include mq(sm) {
      font-size: 6rem;
      line-height: 145%;
    }

    img {
      position: relative;
      top: 5px;
      max-width: 42px;
      margin-right: 5px;

      @include mq(md) {
        max-width: 75px;
      }

      @include mq(sm) {
        max-width: 75px;
      }
    }
  }

  .artists {
    flex: 1 100%;

    .artist {
      display: flex;
      margin-bottom: 25px;
      padding-top: 20px;
      border-top: 1px solid #333333;

      @include mq(md) {
        margin-bottom: 55px;
        padding-top: 50px;
      }

      @include mq(sm) {
        margin-bottom: 55px;
        padding-top: 50px;
      }

      .artist--left {
        flex: 0 0 200px;

        img {
          width: 100%;
          max-width: 175px;
          border-radius: 50%;
          border: 5px solid $white;
          box-shadow: 2px 2px 2px $black;
        }
      }

      .artist--right {
        flex: 1;
        padding-left: 50px;

        h4 {
          font-family: $font-2;
          font-size: 2rem;
          font-weight: 900;
          font-style: italic;
          color: $orange-potion;

          @include mq(md) {
            font-size: 5rem;
          }

          @include mq(sm) {
            font-size: 4.5rem;
          }
        }

        .artist-bio {
          margin-top: 10px;
          margin-bottom: 20px;
          font-family: $font-3;
          font-size: 1rem;
          font-weight: 300;
          line-height: 145%;
          color: #cccccc;

          @include mq(md) {
            flex: 1 100%;
            font-size: 2.5rem;
            line-height: 145%;
          }

          @include mq(sm) {
            flex: 1 100%;
            font-size: 2.8rem;
            line-height: 145%;
          }
        }

        ul.artist-links {
          display: flex;
          margin-left: 0;
          text-align: left;

          li {
            flex: 0;
            padding: 0 15px 0 0;
            text-transform: uppercase;

            a {
              font-family: $font-2;
              font-size: 16px;
              font-weight: 600;
              color: $white;
              text-decoration: underline;

              &:hover {
                color: $orange-potion;
              }
            }
          }
        }
      }
    }
  }
}
